*{
    margin: 0;
    padding: 0;
}

div{display: flex;}

button{
    width: 180px;
    height: 45px;
    background-color: rgb(25, 25, 231);
    color: white;
    border-radius: 8px;
    padding: 8px;
    border: none;
    
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 9%;
    align-items: center;

}

ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

a{ 
    text-decoration: none;
    color: black; 
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/banner.jpg); 
    height: 100vh;
    background-position: center;
    display: grid;
    align-items: center;
    justify-content: center;
        
}

.hero{
    text-align: center;
    display: grid;
    gap: 22px;
    color: white;

}

.hero button{
    width: 50%;
    height: 55px;
    margin-left: 24%;
    margin-top: 48% ;
    
}

.sub-hero{
    text-align: center;
    display: grid;
    margin-top: 0px;
    font-size: xx-large;
}

.sub-hero-2{
    justify-content: center;
    font-size: medium ;
}
